$width: 1200px;
$grid-height: 80px;
$grid-width: 61px;
$gutter: 20px;

//Couleurs de fond
$couleur1: #202a36; // intro
$couleur2: #ffffff; // section 1
$couleur3: #eff6fb; // section 2
$couleur4: #D3F2FF; // section 3
$couleur4bis: #ffffff; // section 3 
$couleur5: #32425b; // section 4
$couleur6: #32425B; // section 5 
$couleur6bis: #3D89AD; // section 5 
$couleur6ter: #eff6fb; // section 5 
$couleur7: #32425b; // section 6
$couleur8: #32425b; // section footer

html {
	font-family: 'Roboto', sans-serif;
}

//test
h1{font-size:2.34em;}
p{font-size: 1.5em;}
.slogan{font-size: 2em;}
btn{font-size: 1.5em;}

.shadow{
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
}



figure div {
    position: absolute;
    z-index: -1;

    top: 0;
    left: 0;

    width: 100%;
    height: 720px;
    background: rgba(50, 66, 91, 0.8);
    pointer-events: none;
    max-height: 720px;
    overflow: hidden;

}

video{
    position: absolute;
    z-index: -100;

    top:0;
    left: 0;
    
    width: 100%;
    height: 720px;
    margin-top: 0;
    overflow: hidden;
    object-fit: cover;
}




#mention-header {
    overflow: -moz-scrollbars-none;
    background-color: $couleur5;
    padding: 30px 0;

    
    @media (max-width: 1200px){
    }
    @media (max-width: 768px){
    }
    
    

}

#logo-isaac img {
    display: block;
    max-width: 470px;
    margin: 0 auto;
    padding: auto;
                
    @media (max-width: 1200px){
        width: 40%;
    }
    @media (max-width: 768px){
        width: 60%;
    }
}


#logo-isaac-mentions img {
    display: block;
    max-width: 470px;
    margin: auto;
                
    @media (max-width: 1200px){
        width: 40%;
    }
    @media (max-width: 768px){
        width: 60%;
    }
}




.slogan {
    text-align: center;
    font-size: 33px !important;
}



#plus{
    width: 50%;
    text-align: center;
    margin: auto;
    height: 75px;
    border-radius: 7px;
    border: none;
    background-color: #4baddc;
    max-width: 300px;
    min-width: 300px;
    transition: all 300ms ease; 
    color: #fff;
    font-size: 0.7em;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

    @media (max-width: 1200px){
        font-size: 1em;
    }
    @media (max-width: 768px){
        font-size: 1em;
    }
}




#plus:hover{
    background-color: #b364d7;
    transition: all 300ms ease;
}


#intro{
    overflow: hidden;
    overflow: -moz-scrollbars-none;
    padding: $grid-height 0;
    color: #fff;
    //height: 640px;

    
    @media (max-width: 1200px){
        padding: $grid-height 0;
    }
    @media (max-width: 768px){
        padding: $grid-height 0;
    }
    


    p {
        font-size: 1.5em;
        margin: 30px auto;
        font-weight: 100;
        text-align: center;

        @media (max-width: 1200px){
            font-size: 1.2em;
        }
        @media (max-width: 768px){
            font-size: 1.2em;
            width: 70%;
        }
    }
}





.intro-line {
    display: block;
    margin: auto;
    margin-top:40px;
    height: 1px;

    @media (max-width: 1200px){
        width: 40%;
    }
    @media (max-width: 768px){
        width: 60%;
    }
}



.search_section {
    display: block;
    width: 710px;
    margin: 0 auto;
    text-align: center;
    
    @media (max-width: 1200px){
        width: 590px;
    }
    @media (max-width: 768px){
        width: 380px;
    }
}


/* Champs de recherche */
input[type=email] {
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    display: block;
    float: left;
    border: none;
    color: #7b7b7b;
    margin: auto;
    width: 100% - 4;
    height: 75px;
    display: block;
    margin: 0;
    max-width: 590px;

    padding: 10px 10px;
    border: 1px solid #c4c4c4;
    border-right: none;
    border-radius: 10px 0 0 10px;
    background-color: #fff;
    
    @media (max-width: 1200px){
        width: 100%;
        border: 1px solid #c4c4c4;
        border-radius: 7px 7px 0 0;
    }
    @media (max-width: 768px){
        width: 100%;
        height: 50px;
        font-size: 0.75em;
        padding: 0px;
        border-radius: 5px 5px 0 0;
    }
    
}
input:focus, textarea:focus, button {
    outline: none;
}

/* Champs de recherche */
input#form-mail {
    font-size: 1.5em;
    font-weight: 300;
    text-align: left;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    width: 100% - 4;
    max-width: 100%;
    padding: 10px;
    text-align: left;
    color: #7b7b7b;
	font-family: 'Roboto', sans-serif;

    
    @media (max-width: 1200px){
        width: 100% - 3;
        border: 1px solid #c4c4c4;
        border-radius: 7px;
        text-align: left;
    }
    @media (max-width: 768px){
        width: 100% - 3;
        height: 50px;
        font-size: 0.75em;
        border-radius: 5px;
        text-align: left;
    }
}

/* Champs de recherche */
textarea#form-message {
	font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    text-align: left;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    width: 100% - 4;
    padding: 10px;
    color: #7b7b7b;

    resize:none;
    margin-top: 24px;
    height: 217px;
    
    @media (max-width: 1200px){
        width: 100% - 3;
        border: 1px solid #c4c4c4;
        border-radius: 7px;
        text-align: left;
    }
    @media (max-width: 768px){
        width: 100% - 3;
        height: 220px;
        font-size: 0.75em;
        border-radius: 5px;
        border: 1px solid #c4c4c4;
        text-align: left;

    }
    
}




.form-button {
    float: right;
    width: 75px;
    height: 75px;
    margin-top: 20px;
    //padding: 10px 10px;
    //border: 1px solid #c4c4c4;
    //border-left: none;
    //max-width: 590px;

    //border-radius: 0 10px 10px 0;
    //background-color: #fff;
    
    
    @media (max-width: 1200px){
        width: 100%;
        background-color: #5da0db;
        border: 1px solid #5da0db;
        border-radius: 7px;
    }
    @media (max-width: 768px){
        width: 100%;
        background-color: #5da0db;
        border: 1px solid #5da0db;
        height: 50px;
        font-size: 0.75em;
        padding: 0px;
        border-radius: 5px;
    }
}





.button {
    float: left;
    width: 75px;
    height: 75px;
    padding: 10px 10px;
    border: 1px solid #c4c4c4;
    border-left: none;
    max-width: 590px;

    border-radius: 0 10px 10px 0;
    background-color: #fff;
    
    
    @media (max-width: 1200px){
        width: 100%;
        background-color: #5da0db;
        border: 1px solid #5da0db;
        border-radius: 0 0 7px 7px;
    }
    @media (max-width: 768px){
        width: 100%;
        background-color: #5da0db;
        border: 1px solid #5da0db;
        height: 50px;
        font-size: 0.75em;
        padding: 0px;
        border-radius: 0 0 5px 5px;
    }
}

.button2 {
    float: right;
    width: 75px;
    height: 75px;
    padding: 10px 10px;
    //border: 1px solid #c4c4c4;
    border-left: none;
    max-width: 830px;

    border-radius: 0 10px 10px 0;
    //background-color: #fff;
    
    
    @media (max-width: 1200px){
        width: 100%;
        background-color: #5da0db;
        border: 1px solid #5da0db;
        border-radius: 0 0 7px 7px;
    }
    @media (max-width: 768px){
        width: 100%;
        background-color: #5da0db;
        border: 1px solid #5da0db;
        height: 50px;
        font-size: 0.75em;
        padding: 0px;
        border-radius: 0 0 5px 5px;
    }
}





.button, .sendmail, button {
    cursor: pointer;

}


button#getform {
    display: block;
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 10px;
    background-color: #5da0db;
    text-align: right;
    vertical-align: middle;
    margin: auto;
    float: right;

    
    
    @media (max-width: 1200px){
        float: none;
        height: 25px;

    }
    @media (max-width: 768px){
        float: none;
        height: 25px;
    }
    
}


.button button {
    display: block;
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 10px;
    background-color: #5da0db;
    text-align: center;
    vertical-align: middle;
    margin: auto;

    
    @media (max-width: 1200px){
        height: 100%;
        width: 100%;
    }
    @media (max-width: 768px){
        height: 100%;
        width: 100%;
    }
}

.sendmail::before {
    display: none;
    content: "Envoyer";
    vertical-align: middle;
    font-size: 1.5em;
    color: #fff;
    border: none;

    
    @media (max-width: 1200px){
        display: block;
        margin-top: 17px;
        margin-left: -12px;
    }
    @media (max-width: 768px){
        display: block;
        margin-top: 8px;
        margin-left: -12px;
        font-size: 1.7em;

    }
    
}





.sendmail {
    border: none;
    width: 46px;
    height: 43px;
    display: block;
    background: url(../img/sent-mail.svg) no-repeat center;
    vertical-align: middle;
    margin: auto;
    
    @media (max-width: 1200px){
        background: none;
    }
    @media (max-width: 768px){
        background: none;
    }

}


body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.7em;
    margin: 0px auto $grid-height auto;
    font-weight: normal;
    
    @media (max-width: 1200px){
        font-size: 2.2em;
    }
    @media (max-width: 768px){
        font-size: 2em;
        margin: 0px auto;
    }
}

h2 {
    font-size: 2.5em;
    font-weight: 400;
    margin: 0;
    
    @media (max-width: 1200px){
        font-size: 2em;
    }
    @media (max-width: 768px){
        font-size: 1.8em;
    }
}


.description p {
    font-size: 1.5em;
    line-height: 1.3em;
    font-weight: 300;
    
    @media (max-width: 1200px){
        font-size: 1.3em;
        line-height: 1.3em;
    }
    @media (max-width: 768px){
        font-size: 1.1em;
        line-height: 1.3em;
    }
}


.lp {
    margin: auto;
    width: 100%;
	font-family: 'Roboto', sans-serif;
}




#section7{
    clear: both;
    padding: $grid-height*0.75 100% /9 - 3;
    margin: 0;
    overflow:hidden;
    overflow: -moz-scrollbars-none;
        background-color: #fff;
}




#section1{
    clear: both;
    padding: $grid-height 100% /9 - 3;
    margin: 0;
    overflow:hidden;
    overflow: -moz-scrollbars-none;
        background-color: #fff;


    .description{
        float: left;
        display: block;
        width: 100% / 1.5 - 6 ; //66,66%

        @media (max-width: 1200px){
            width: 50%;


        }
        @media (max-width: 768px){
            width: 100%;
            float: none;
        }
        
        p {
            color: #3e3e3e;            
        }

    }


    img {
        float: right;
        width: auto;
        max-width: 520px;
        margin-right: -117px;        
        
        @media (max-width: 1200px){
            margin-right: -200px;  
            max-width: 520px;


        }
        @media (max-width: 768px){
            width: 100%;
            max-width: 100%;

            margin-top: 30px;
            float: none;

        }
    }    
}


#section2{ //Plus qu'un simple assistant
    border-top: 1px solid #5da0db;
    padding: $grid-height 100% /9 - 3;
    margin: 0;
    background-color: #eff6fb;
    overflow:hidden;
    overflow: -moz-scrollbars-none;
    text-align: center;
    
    .description{
        float: right;
        display: block;
        width: 100% / 1.5 - 6 ; //66,66%
        margin: 0 1%;
        text-align: left;
        
        @media (max-width: 1200px){
            width: 100% / 2;

        }
        @media (max-width: 768px){
            padding-top: 30px;
            width: 100%;
            float: none;
        }
    }
    
    img {
        float: left;
        width: 100% / 3 - 3 ; //30,33%
        max-width: 265px;
        
        @media (max-width: 1200px){
        }
        @media (max-width: 768px){
            float: none;
            width: 50%;
            //margin: 0 auto 40px auto;
        }
    }    

}









#section3{ //l'ensemble de mes fonctionnalités
    clear: both;
    border-top: 1px solid #5da0db;
    padding: $grid-height 100% /9 - 3;
    padding-bottom: 0px; 
    overflow:auto;
    overflow: -moz-scrollbars-none;
    
    
    
/* IE10+ */ 
background-image: -ms-linear-gradient(top, #D3F2FF 0%, #fff 50%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #D3F2FF 0%, #fff 50%);

/* Opera */ 
background-image: -o-linear-gradient(top, #D3F2FF 0%, #fff 50%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D3F2FF), color-stop(50, #fff));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #D3F2FF 0%, #fff 50%);

/* W3C Markup */ 
background-image: linear-gradient(to bottom, #D3F2FF 0%, #fff 50%);
    
    
    
    
    .description {
        display: block;
        margin: auto;
    
        
       .article{
            float: left;
            width: 100% / 2 - 0;
            margin: 30px 0;
            vertical-align: middle;

            @media (max-width: 1200px){
                width: 100% / 2 - 3;
            }
            @media (max-width: 768px){
                width: 100% - 3;
                text-align: center;

            }
           
           img {
               max-width: 146px;
               float: left;
               
               @media (max-width: 1200px){
               }
               @media (max-width: 768px){
                   text-align: center;
                   float: none;
               }
           }
           p {
               color: #3e3e3e;
               text-align: left;
               line-height: 1.3em;
               margin-left:170px;
               width: 100% / 1.5 - 6;

               @media (max-width: 1200px){
                   width: 100% / 2 - 3; //60,66%
               }
               @media (max-width: 768px){
                   text-align: center;
                   margin: 10px auto 0px auto;
                   width: 100%;
               }
           }
    
    
    
        

}
 
    
    }

}
 



#section4{ // Restez informé
    clear: both;
    background: url(../img/lp-section-bg.gif) no-repeat top center;
    background-color: #32425b;
    padding: $grid-height*4 0 $grid-height 0;
    padding-bottom: 225px;

    margin: auto;
    overflow:auto;
    overflow: -moz-scrollbars-none;
    
    .description {
        width: 100%;
        margin: auto;
        text-align: center;
        p {
            color: #fff;
            text-align: center;
            text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
            font-size: 1.5em;
            margin: 50px auto;
            font-weight: 100;
        }

        
    }
}



.bg1 {
    background: url(../img/s5-bg.png) no-repeat center top;
    position: absolute;
    height: 241px;
    width: 100%;
    margin-top: -100px;
    overflow:auto;
    overflow: -moz-scrollbars-none;
}




#section6{
    background-color: #32425b;
    padding: $grid-height 100% /9 - 3;

    color: #fff;
    overflow: auto;
    //overflow:hidden;
    //overflow: -moz-scrollbars-none;
    
    .bg{
        background: url(../img/s6-bg.png) no-repeat top;
        background-size: contain;
        overflow:hidden;
        overflow: -moz-scrollbars-none;
        
        .description {
            width: 100% / 2 - 0;
            display: block;
            float: left;
            padding-bottom: 50px;

            @media (max-width: 1200px){
                width: 100%;
            }
            @media (max-width: 768px){
                width: 100%;
            }
            
            
        }
    }
}






footer {
    clear: both;
    background-color: #32425b;
    //padding: 60px 10px;
    padding: 0 100% /9 - 3;
    padding-bottom: 60px;
    overflow:auto;
    overflow: -moz-scrollbars-none;
    
    .footer-line {
        padding: 10px 0 60px 0;
        border-top: 1px solid #617086;
    }

    
    .signature {
        font-size: 0.5em;
        font-weight: 100;
        width: 100% / 2 - 3;
        margin: 0;
        color: #d4d8de;
        display: inline-block;
        text-align: center;

        
        @media (max-width: 1200px){
            width: 50%;
            text-align: center;
        }
        @media (max-width: 768px){
            width: 100%;
            text-align: center;
        }
        
        
        
        p {
            margin-top: 0;
            text-align: left;
            a{text-decoration: none;color:#d4d8de;}
            a:hover{text-decoration: underline;}
            
            
            @media (max-width: 1200px){
                
            }
            @media (max-width: 768px){
               text-align: center;
            }
            
            
        }
        
        img {
            float: left;
            margin: 0 10px 0 0;
            max-width: 25px;
            
            @media (max-width: 1200px){
                
            }
            @media (max-width: 768px){
                max-width: 50px;
                margin-bottom: 20px;
                float: none;
            }
        }
        
    }
    
    ul.social {
        margin: 0;
        list-style: none;
        width: 100% / 3 - 3;
        padding: 0;
        text-align: right;
        float: right;
        
        @media (max-width: 1200px){
            width: 50%;
        }
        @media (max-width: 768px){
            margin-top: 20px;
            text-align: center;
            width: 100%;
        }
        
        a {
            li {
                display: inline-block;
                margin: 0 0 0 20px;

                
                @media (max-width: 1200px){
                    margin: 0 0 0 10px;
                }
                @media (max-width: 768px){
                    text-align: center;
                    padding: 5px;
                }
            }

            li:last-child{
                margin-right: 0px;
            }
        }
    }
}


#facebook{
    background: url(../img/rs-facebook-logo.svg) no-repeat center;
    width:24px;
    height:24px;
}
#twitter{
    background: url(../img/rs-twitter-logo.svg) no-repeat center;
    width:24px;
    height:24px;
}
#linkedin{
    background-image: url(../img/rs-linkedin-logo.svg) no-repeat;
    background-size: 24px;
}



#mentions {
    clear: both;
    padding: $grid-height 100% /9 - 3;
    margin: 0;
    overflow:hidden;
    overflow: -moz-scrollbars-none;
    float: left;
    display: block;
    width: 100% / 1.5 - 6 ; //66,66%

    @media (max-width: 1200px){
        width: 100% / 2;
    }
    @media (max-width: 768px){
        width: 90%;
        float: none;
    }
    
    p {
        font-size: 1em;
        font-weight: 300;
        color: #3e3e3e;            
    }
}


