html {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-size: 2.34em; }

p {
  font-size: 1.5em; }

.slogan {
  font-size: 2em; }

btn {
  font-size: 1.5em; }

.shadow {
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35); }

figure div {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 720px;
  background: rgba(50, 66, 91, 0.8);
  pointer-events: none;
  max-height: 720px;
  overflow: hidden; }

video {
  position: absolute;
  z-index: -100;
  top: 0;
  left: 0;
  width: 100%;
  height: 720px;
  margin-top: 0;
  overflow: hidden;
  object-fit: fill; }

#mention-header {
  overflow: -moz-scrollbars-none;
  background-color: #32425b;
  padding: 30px 0; }

#logo-isaac img {
  display: block;
  max-width: 470px;
  margin: 0 auto;
  padding: auto; }
  @media (max-width: 1200px) {
    #logo-isaac img {
      width: 40%; } }
  @media (max-width: 768px) {
    #logo-isaac img {
      width: 60%; } }

#logo-isaac-mentions img {
  display: block;
  max-width: 470px;
  margin: auto; }
  @media (max-width: 1200px) {
    #logo-isaac-mentions img {
      width: 40%; } }
  @media (max-width: 768px) {
    #logo-isaac-mentions img {
      width: 60%; } }

.slogan {
  text-align: center;
  font-size: 33px !important; }

#plus {
  width: 50%;
  text-align: center;
  margin: auto;
  height: 75px;
  border-radius: 7px;
  border: none;
  background-color: #4baddc;
  max-width: 300px;
  min-width: 200px;
  transition: all 300ms ease; }

#plus a {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif; }
  @media (max-width: 768px) {
    #plus a {
      font-size: 1.7em; } }

#plus:hover {
  background-color: #b364d7;
  transition: all 300ms ease; }

#intro {
  overflow: hidden;
  overflow: -moz-scrollbars-none;
  padding: 160px 0 0 0;
  color: #fff;
  height: 640px; }
  @media (max-width: 1200px) {
    #intro {
      padding: 160px 0 0 0; } }
  @media (max-width: 768px) {
    #intro {
      padding: 80px 0 0 0; } }
  #intro p {
    font-size: 1.5em;
    margin: 30px auto;
    font-weight: 100;
    text-align: center; }
    @media (max-width: 1200px) {
      #intro p {
        font-size: 1.2em; } }
    @media (max-width: 768px) {
      #intro p {
        font-size: 1.2em;
        width: 70%; } }

.intro-line {
  display: block;
  margin: auto;
  margin-top: 40px;
  height: 1px; }
  @media (max-width: 1200px) {
    .intro-line {
      width: 40%; } }
  @media (max-width: 768px) {
    .intro-line {
      width: 60%; } }

.search_section {
  display: block;
  width: 710px;
  margin: 0 auto;
  text-align: center; }
  @media (max-width: 1200px) {
    .search_section {
      width: 590px; } }
  @media (max-width: 768px) {
    .search_section {
      width: 380px; } }

/* Champs de recherche */
input[type=email] {
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  display: block;
  float: left;
  border: none;
  color: #7b7b7b;
  margin: auto;
  width: 96%;
  height: 75px;
  display: block;
  margin: 0;
  max-width: 590px;
  padding: 10px 10px;
  border: 1px solid #c4c4c4;
  border-right: none;
  border-radius: 10px 0 0 10px;
  background-color: #fff; }
  @media (max-width: 1200px) {
    input[type=email] {
      width: 100%;
      border: 1px solid #c4c4c4;
      border-radius: 7px 7px 0 0; } }
  @media (max-width: 768px) {
    input[type=email] {
      width: 100%;
      height: 50px;
      font-size: 0.75em;
      padding: 0px;
      border-radius: 5px 5px 0 0; } }

input:focus, textarea:focus, button {
  outline: none; }

/* Champs de recherche */
input#form-mail {
  font-size: 1.5em;
  font-weight: 300;
  text-align: left;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  width: 96%;
  max-width: 100%;
  padding: 10px;
  text-align: left;
  color: #7b7b7b; }
  @media (max-width: 1200px) {
    input#form-mail {
      width: 97%;
      border: 1px solid #c4c4c4;
      border-radius: 7px;
      text-align: left; } }
  @media (max-width: 768px) {
    input#form-mail {
      width: 97%;
      height: 50px;
      font-size: 0.75em;
      border-radius: 5px;
      text-align: left; } }

/* Champs de recherche */
textarea#form-message {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  text-align: left;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  width: 96%;
  padding: 10px;
  color: #7b7b7b;
  resize: none;
  margin-top: 24px;
  height: 217px; }
  @media (max-width: 1200px) {
    textarea#form-message {
      width: 97%;
      border: 1px solid #c4c4c4;
      border-radius: 7px;
      text-align: left; } }
  @media (max-width: 768px) {
    textarea#form-message {
      width: 97%;
      height: 220px;
      font-size: 0.75em;
      border-radius: 5px;
      border: 1px solid #c4c4c4;
      text-align: left; } }

.form-button {
  float: right;
  width: 75px;
  height: 75px;
  margin-top: 20px; }
  @media (max-width: 1200px) {
    .form-button {
      width: 100%;
      background-color: #5da0db;
      border: 1px solid #5da0db;
      border-radius: 7px; } }
  @media (max-width: 768px) {
    .form-button {
      width: 100%;
      background-color: #5da0db;
      border: 1px solid #5da0db;
      height: 50px;
      font-size: 0.75em;
      padding: 0px;
      border-radius: 5px; } }

.button {
  float: left;
  width: 75px;
  height: 75px;
  padding: 10px 10px;
  border: 1px solid #c4c4c4;
  border-left: none;
  max-width: 590px;
  border-radius: 0 10px 10px 0;
  background-color: #fff; }
  @media (max-width: 1200px) {
    .button {
      width: 100%;
      background-color: #5da0db;
      border: 1px solid #5da0db;
      border-radius: 0 0 7px 7px; } }
  @media (max-width: 768px) {
    .button {
      width: 100%;
      background-color: #5da0db;
      border: 1px solid #5da0db;
      height: 50px;
      font-size: 0.75em;
      padding: 0px;
      border-radius: 0 0 5px 5px; } }

.button2 {
  float: right;
  width: 75px;
  height: 75px;
  padding: 10px 10px;
  border-left: none;
  max-width: 830px;
  border-radius: 0 10px 10px 0; }
  @media (max-width: 1200px) {
    .button2 {
      width: 100%;
      background-color: #5da0db;
      border: 1px solid #5da0db;
      border-radius: 0 0 7px 7px; } }
  @media (max-width: 768px) {
    .button2 {
      width: 100%;
      background-color: #5da0db;
      border: 1px solid #5da0db;
      height: 50px;
      font-size: 0.75em;
      padding: 0px;
      border-radius: 0 0 5px 5px; } }

.button, .sendmail, button {
  cursor: pointer; }

button#getform {
  display: block;
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 10px;
  background-color: #5da0db;
  text-align: right;
  vertical-align: middle;
  margin: auto;
  float: right; }
  @media (max-width: 1200px) {
    button#getform {
      float: none;
      height: 25px; } }
  @media (max-width: 768px) {
    button#getform {
      float: none;
      height: 25px; } }

.button button {
  display: block;
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 10px;
  background-color: #5da0db;
  text-align: center;
  vertical-align: middle;
  margin: auto; }
  @media (max-width: 1200px) {
    .button button {
      height: 100%;
      width: 100%; } }
  @media (max-width: 768px) {
    .button button {
      height: 100%;
      width: 100%; } }

.sendmail::before {
  display: none;
  content: "Envoyer";
  vertical-align: middle;
  font-size: 1.5em;
  color: #fff;
  border: none; }
  @media (max-width: 1200px) {
    .sendmail::before {
      display: block;
      margin-top: 17px;
      margin-left: -12px; } }
  @media (max-width: 768px) {
    .sendmail::before {
      display: block;
      margin-top: 8px;
      margin-left: -12px;
      font-size: 1.7em; } }

.sendmail {
  border: none;
  width: 46px;
  height: 43px;
  display: block;
  background: url(../img/sent-mail.svg) no-repeat center;
  vertical-align: middle;
  margin: auto; }
  @media (max-width: 1200px) {
    .sendmail {
      background: none; } }
  @media (max-width: 768px) {
    .sendmail {
      background: none; } }

body {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 2.7em;
  margin: 0px auto 80px auto;
  font-weight: normal; }
  @media (max-width: 1200px) {
    h1 {
      font-size: 2.2em; } }
  @media (max-width: 768px) {
    h1 {
      font-size: 2em; } }

h2 {
  font-size: 2.5em;
  font-weight: 400;
  margin: 0; }
  @media (max-width: 1200px) {
    h2 {
      font-size: 2em; } }
  @media (max-width: 768px) {
    h2 {
      font-size: 1.8em; } }

.description p {
  font-size: 1.5em;
  line-height: 1.3em;
  font-weight: 300; }
  @media (max-width: 1200px) {
    .description p {
      font-size: 1.3em;
      line-height: 1.3em; } }
  @media (max-width: 768px) {
    .description p {
      font-size: 1.1em;
      line-height: 1.3em; } }

.lp {
  margin: auto;
  width: 100%;
  font-family: 'Roboto', sans-serif; }

#section7 {
  clear: both;
  padding: 60px 8.11111%;
  margin: 0;
  overflow: hidden;
  overflow: -moz-scrollbars-none; }

#section1 {
  clear: both;
  padding: 80px 8.11111%;
  margin: 0;
  overflow: hidden;
  overflow: -moz-scrollbars-none; }
  #section1 .description {
    float: left;
    display: block;
    width: 60.66667%; }
    @media (max-width: 1200px) {
      #section1 .description {
        width: 50%; } }
    @media (max-width: 768px) {
      #section1 .description {
        width: 90%;
        float: none; } }
    #section1 .description p {
      color: #3e3e3e; }
  #section1 img {
    float: right;
    width: auto;
    max-width: 510px;
    margin-right: -117px; }
    @media (max-width: 1200px) {
      #section1 img {
        margin-right: -200px; } }
    @media (max-width: 768px) {
      #section1 img {
        width: 100%;
        margin-right: -60px;
        float: right; } }

#section2 {
  border-top: 1px solid #5da0db;
  padding: 160px 8.11111%;
  margin: 0;
  background-color: #eff6fb;
  overflow: hidden;
  overflow: -moz-scrollbars-none;
  text-align: center; }
  #section2 .description {
    float: right;
    display: block;
    width: 60.66667%;
    margin: 0 1%;
    text-align: left; }
    @media (max-width: 1200px) {
      #section2 .description {
        width: 100% / 2; } }
    @media (max-width: 768px) {
      #section2 .description {
        width: 90%;
        float: none; } }
  #section2 img {
    float: left;
    width: 30.33333%;
    max-width: 265px; }
    @media (max-width: 768px) {
      #section2 img {
        float: none;
        width: 100%;
        margin: 0 auto 40px auto; } }

#section3 {
  clear: both;
  border-top: 1px solid #5da0db;
  padding: 160px 8.11111%;
  padding-bottom: 0px;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  /* IE10+ */
  background-image: -ms-linear-gradient(top, #D3F2FF 0%, #fff 50%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #D3F2FF 0%, #fff 50%);
  /* Opera */
  background-image: -o-linear-gradient(top, #D3F2FF 0%, #fff 50%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D3F2FF), color-stop(50, #fff));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #D3F2FF 0%, #fff 50%);
  /* W3C Markup */
  background-image: linear-gradient(to bottom, #D3F2FF 0%, #fff 50%); }
  #section3 .description {
    display: block;
    margin: auto; }
    #section3 .description h2 {
      text-align: left;
      width: 66.66667%; }
      @media (max-width: 768px) {
        #section3 .description h2 {
          width: 90%; } }
    #section3 .description .article {
      float: left;
      width: 44%;
      margin: 30px 0;
      vertical-align: middle; }
      @media (max-width: 1200px) {
        #section3 .description .article {
          width: 47%; } }
      @media (max-width: 768px) {
        #section3 .description .article {
          width: 97%;
          text-align: center; } }
      #section3 .description .article img {
        max-width: 146px;
        float: left; }
        @media (max-width: 768px) {
          #section3 .description .article img {
            text-align: center;
            float: none; } }
      #section3 .description .article p {
        color: #3e3e3e;
        text-align: left;
        line-height: 1.3em;
        margin-left: 170px;
        width: 60.66667%; }
        @media (max-width: 1200px) {
          #section3 .description .article p {
            width: 47%; } }
        @media (max-width: 768px) {
          #section3 .description .article p {
            text-align: center;
            margin: 10px auto 0px auto;
            width: 100%; } }

#section4 {
  clear: both;
  background: url(../img/lp-section-bg.gif) no-repeat top center;
  background-color: #32425b;
  padding: 320px 0;
  padding-bottom: 225px;
  margin: auto;
  overflow: auto;
  overflow: -moz-scrollbars-none; }
  #section4 .description {
    width: 100%;
    margin: auto;
    text-align: center; }
    #section4 .description p {
      color: #fff;
      text-align: center;
      text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
      font-size: 1.5em;
      margin: 50px auto;
      font-weight: 100; }

.bg1 {
  background: url(../img/s5-bg.png) no-repeat center top;
  position: absolute;
  height: 241px;
  width: 100%;
  margin-top: -100px;
  overflow: auto;
  overflow: -moz-scrollbars-none; }

#section5 {
  clear: both;
  padding: 160px 8.11111%;
  margin: 0;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  /* IE10+ */
  background-image: -ms-linear-gradient(bottom, #32425B 40%, #3D89AD 70%, #eff6fb 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom, #32425B 40%, #3D89AD 70%, #eff6fb 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom, #32425B 40%, #3D89AD 70%, #eff6fb 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(40, #32425B), color-stop(70, #3D89AD), color-stop(100, #eff6fb));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom, #32425B 40%, #3D89AD 70%, #eff6fb 100%);
  /* W3C Markup */
  background-image: linear-gradient(to top, #32425B 40%, #3D89AD 70%, #eff6fb 100%); }
  #section5 .description h2 {
    color: #fff;
    margin: 30px 0 130px 0;
    text-align: center;
    width: 100%; }
  #section5 .description .platform {
    width: 33.33333%;
    text-align: center;
    float: left; }
    @media (max-width: 768px) {
      #section5 .description .platform {
        width: 100%;
        margin-top: 50px; } }
    #section5 .description .platform .cp-small {
      max-width: 100px; }
    #section5 .description .platform .cp-big {
      max-width: 200px; }
    #section5 .description .platform h3 {
      text-align: center;
      color: #fff;
      font-weight: bold;
      font-size: 1.5em; }
    #section5 .description .platform p {
      color: #fff;
      text-align: center; }

#section6 {
  background-color: #32425b;
  padding: 160px 8.11111%;
  color: #fff;
  overflow: auto; }
  #section6 .bg {
    background: url(../img/s6-bg.png) no-repeat top;
    background-size: contain;
    overflow: hidden;
    overflow: -moz-scrollbars-none; }
    #section6 .bg .description {
      width: 50%;
      display: block;
      float: left;
      padding-bottom: 50px; }
      @media (max-width: 1200px) {
        #section6 .bg .description {
          width: 100%; } }

footer {
  clear: both;
  background-color: #32425b;
  padding: 0 8.11111%;
  padding-bottom: 60px;
  overflow: auto;
  overflow: -moz-scrollbars-none; }
  footer .footer-line {
    padding: 10px 0 60px 0;
    border-top: 1px solid #617086; }
  footer .signature {
    font-size: 0.5em;
    font-weight: 100;
    width: 47%;
    margin: 0;
    color: #d4d8de;
    display: inline-block;
    text-align: center; }
    @media (max-width: 1200px) {
      footer .signature {
        width: 50%;
        text-align: center; } }
    @media (max-width: 768px) {
      footer .signature {
        width: 100%;
        text-align: center; } }
    footer .signature p {
      margin-top: 0;
      text-align: left; }
      footer .signature p a {
        text-decoration: none;
        color: #d4d8de; }
      footer .signature p a:hover {
        text-decoration: underline; }
      @media (max-width: 768px) {
        footer .signature p {
          text-align: center; } }
    footer .signature img {
      float: left;
      margin: 0 10px 0 0;
      max-width: 25px; }
      @media (max-width: 768px) {
        footer .signature img {
          max-width: 50px;
          margin-bottom: 20px;
          float: none; } }
  footer ul.social {
    margin: 0;
    list-style: none;
    width: 30.33333%;
    padding: 0;
    text-align: right;
    float: right; }
    @media (max-width: 1200px) {
      footer ul.social {
        width: 50%; } }
    @media (max-width: 768px) {
      footer ul.social {
        margin-top: 20px;
        text-align: center;
        width: 100%; } }
    footer ul.social a li {
      display: inline-block;
      margin: 0 0 0 20px; }
      @media (max-width: 1200px) {
        footer ul.social a li {
          margin: 0 0 0 10px; } }
      @media (max-width: 768px) {
        footer ul.social a li {
          text-align: center;
          padding: 5px; } }
    footer ul.social a li:last-child {
      margin-right: 0px; }

#facebook {
  background: url(../img/rs-facebook-logo.svg) no-repeat center;
  width: 24px;
  height: 24px; }

#twitter {
  background: url(../img/rs-twitter-logo.svg) no-repeat center;
  width: 24px;
  height: 24px; }

#linkedin {
  background-image: url(../img/rs-linkedin-logo.svg) no-repeat;
  background-size: 24px; }

#mentions {
  clear: both;
  padding: 80px 8.11111%;
  margin: 0;
  overflow: hidden;
  overflow: -moz-scrollbars-none;
  float: left;
  display: block;
  width: 60.66667%; }
  @media (max-width: 1200px) {
    #mentions {
      width: 100% / 2; } }
  @media (max-width: 768px) {
    #mentions {
      width: 90%;
      float: none; } }
  #mentions p {
    font-size: 1em;
    font-weight: 300;
    color: #3e3e3e; }

/*# sourceMappingURL=main.css.map */
