$width: 1200px;
$grid-height: 80px;
$grid-width: 61px;
$gutter: 20px;

//Couleurs de fond
$couleur1: #202a36; // intro
$couleur2: #ffffff; // section 1
$couleur3: #eff6fb; // section 2
$couleur4: #D3F2FF; // section 3
$couleur4bis: #ffffff; // section 3 
$couleur5: #32425b; // section 4
$couleur6: #32425B; // section 5 
$couleur6bis: #3D89AD; // section 5 
$couleur6ter: #eff6fb; // section 5 
$couleur7: #32425b; // section 6
$couleur8: #32425b; // section footer




#mention-header {
    overflow:auto;
    overflow: -moz-scrollbars-none;
    padding: 0px;
    background: url(img/landing-page-isaac-v3-3-intro-bg.gif) no-repeat center top;
    background-color: $couleur1;

    
    @media (max-width: 1200px){
    }
    @media (max-width: 768px){
    }
    
    
    #logo-isaac img{
        display: block;
        max-width: 200px;
        margin: auto;
        margin-top:40px;

        @media (max-width: 1200px){
            width: 40%;
        }
        @media (max-width: 768px){
            width: 60%;
        }
    }
}

#logo-isaac img {
    display: block;
    max-width: 446px;
    margin: auto;
    margin-top:40px;
                
    @media (max-width: 1200px){
        width: 40%;
    }
    @media (max-width: 768px){
        width: 60%;
    }
}



#intro{
    overflow:auto;
    overflow: -moz-scrollbars-none;
    padding: $grid-height*2 0;
    background: url(img/landing-page-isaac-v3-3-intro-bg.gif) no-repeat center top;
    background-color: $couleur1;

    
    @media (max-width: 1200px){
        padding: $grid-height 0;
    }
    @media (max-width: 768px){
        padding: $grid-height 0;
    }
    

    h1, p {
        color: #fff;
        text-align: center;
        text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
    }
    
    p {
        font-size: 1.5em;
        margin: 0px auto 80px auto;
        font-weight: 100;

        @media (max-width: 1200px){
            font-size: 1.2em;
        }
        @media (max-width: 768px){
            font-size: 1.2em;
            width: 70%;
        }
    }
}





.intro-line {
    display: block;
    margin: auto;
    margin-top:40px;
    height: 1px;

    @media (max-width: 1200px){
        width: 40%;
    }
    @media (max-width: 768px){
        width: 60%;
    }
}



.search_section {
    display: block;
    width: 710px;
    margin: 0 auto;
    text-align: center;
    
    @media (max-width: 1200px){
        width: 590px;
    }
    @media (max-width: 768px){
        width: 380px;
    }
}


/* Champs de recherche */
input[type=email] {
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    display: block;
    float: left;
    border: none;
    color: #7b7b7b;
    margin: auto;
    width: 100% - 4;
    height: 75px;
    display: block;
    margin: 0;
    max-width: 590px;

    padding: 10px 10px;
    border: 1px solid #c4c4c4;
    border-right: none;
    border-radius: 10px 0 0 10px;
    background-color: #fff;
    
    @media (max-width: 1200px){
        width: 100%;
        border: 1px solid #c4c4c4;
        border-radius: 7px 7px 0 0;
    }
    @media (max-width: 768px){
        width: 100%;
        height: 50px;
        font-size: 0.75em;
        padding: 0px;
        border-radius: 5px 5px 0 0;
    }
    
}
input:focus, textarea:focus {
    outline: none;
}

/* Champs de recherche */
input#form-mail {
    font-size: 1.5em;
    font-weight: 300;
    text-align: left;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    width: 100% - 4;
    max-width: 100%;
    padding: 10px;
    text-align: left;
    color: #7b7b7b;

    
    @media (max-width: 1200px){
        width: 100% - 3;
        border: 1px solid #c4c4c4;
        border-radius: 7px;
        text-align: left;
    }
    @media (max-width: 768px){
        width: 100% - 3;
        height: 50px;
        font-size: 0.75em;
        border-radius: 5px;
        text-align: left;
    }
}

/* Champs de recherche */
textarea#form-message {
	font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    text-align: left;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    width: 100% - 4;
    padding: 10px;
    color: #7b7b7b;

    resize:none;
    margin-top: 24px;
    height: 217px;
    
    @media (max-width: 1200px){
        width: 100% - 3;
        border: 1px solid #c4c4c4;
        border-radius: 7px;
        text-align: left;
    }
    @media (max-width: 768px){
        width: 100% - 3;
        height: 220px;
        font-size: 0.75em;
        border-radius: 5px;
        border: 1px solid #c4c4c4;
        text-align: left;

    }
    
}




.form-button {
    float: right;
    width: 75px;
    height: 75px;
    margin-top: 20px;
    //padding: 10px 10px;
    //border: 1px solid #c4c4c4;
    //border-left: none;
    //max-width: 590px;

    //border-radius: 0 10px 10px 0;
    //background-color: #fff;
    
    
    @media (max-width: 1200px){
        width: 100%;
        background-color: #5da0db;
        border: 1px solid #5da0db;
        border-radius: 7px;
    }
    @media (max-width: 768px){
        width: 100%;
        background-color: #5da0db;
        border: 1px solid #5da0db;
        height: 50px;
        font-size: 0.75em;
        padding: 0px;
        border-radius: 5px;
    }
}






.button {
    float: left;
    width: 75px;
    height: 75px;
    padding: 10px 10px;
    border: 1px solid #c4c4c4;
    border-left: none;
    max-width: 590px;

    border-radius: 0 10px 10px 0;
    background-color: #fff;
    
    
    @media (max-width: 1200px){
        width: 100%;
        background-color: #5da0db;
        border: 1px solid #5da0db;
        border-radius: 0 0 7px 7px;
    }
    @media (max-width: 768px){
        width: 100%;
        background-color: #5da0db;
        border: 1px solid #5da0db;
        height: 50px;
        font-size: 0.75em;
        padding: 0px;
        border-radius: 0 0 5px 5px;
    }
}

.button, .sendmail, button {
    cursor: pointer;
}


button#getform {
    display: block;
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 10px;
    background-color: #5da0db;
    text-align: right;
    vertical-align: middle;
    margin: auto;
    float: right;
    
    @media (max-width: 1200px){
        float: none;
        height: 25px;

    }
    @media (max-width: 768px){
        float: none;
        height: 25px;
    }
    
}


.button button  {
    display: block;
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 10px;
    background-color: #5da0db;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    
    
    @media (max-width: 1200px){
        height: 25px;

    }
    @media (max-width: 768px){
        height: 25px;
    }
    
    
    
}

.sendmail::before {
    display: none;
    content: "Envoyer";
    vertical-align: middle;
    font-size: 2em;
    color: #fff;

    
    @media (max-width: 1200px){
        display: block;
        margin-top: 17px;
        margin-left: -12px;
    }
    @media (max-width: 768px){
        display: block;
        margin-top: 8px;
        margin-left: -12px;
    }
    
}

.sendmail {
    width: 46px;
    height: 43px;
    display: block;
    background: url(img/sent-mail.svg) no-repeat center;
    vertical-align: middle;
    margin: auto;
    
    @media (max-width: 1200px){
        background: none;
    }
    @media (max-width: 768px){
        background: none;
    }
    
    
    

}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.7em;
    margin: 43px auto 5px auto;
    font-weight: normal;
    
    @media (max-width: 1200px){
        font-size: 2.2em;
    }
    @media (max-width: 768px){
        font-size: 2em;
    }
}

h2 {
    font-size: 2.5em;
    font-weight: 400;
    margin: 0;
    
    @media (max-width: 1200px){
        font-size: 2em;
    }
    @media (max-width: 768px){
        font-size: 1.8em;
    }
}


.description p {
    font-size: 1.5em;
    line-height: 1.3em;
    font-weight: 300;
    
    @media (max-width: 1200px){
        font-size: 1.3em;
        line-height: 1.3em;
    }
    @media (max-width: 768px){
        font-size: 1.1em;
        line-height: 1.3em;
    }
}


.lp {
    margin: auto;
    width: 100%;
	font-family: 'Roboto', sans-serif;
}



#section1{
    clear: both;
    padding: $grid-height*2 100% /9 - 3;
    margin: 0;
    overflow:hidden;
    overflow: -moz-scrollbars-none;


    .description{
        float: left;
        display: block;
        width: 100% / 1.5 - 6 ; //66,66%

        @media (max-width: 1200px){
            width: 100% / 2;

        }
        @media (max-width: 768px){
            width: 90%;
            float: none;
        }
        
        p {
            color: #3e3e3e;            
        }

    }


    img {
        float: right;
        width: auto;
        max-width: 450px;
        margin-right: -240px;
        //color: #e5d0f4;
        
        
        @media (max-width: 1200px){
            
        }
        @media (max-width: 768px){
            float: left;
            width: 100%;
        }
    }    
}


#section2{ //Plus qu'un simple assistant
    border-top: 1px solid #5da0db;
    padding: $grid-height*2 100% /9 - 3;
    margin: 0;
    //padding: $grid-height*2 $grid-width+$gutter;
    background-color: #eff6fb;
    overflow:hidden;
    overflow: -moz-scrollbars-none;
    text-align: center;
    
    .description{
        float: right;
        display: block;
        width: 100% / 1.5 - 6 ; //66,66%
        margin: 0 1%;
        text-align: left;
        
        @media (max-width: 1200px){
            width: 100% / 2;

        }
        @media (max-width: 768px){
            width: 90%;
            float: none;
        }
    }
    
    img {
        float: left;
        width: 100% / 3 - 3 ; //30,33%
        max-width: 386px;
        
        @media (max-width: 1200px){
        }
        @media (max-width: 768px){
            float: none;
            width: 100%;
            margin: 0 auto 40px auto;
        }
    }    

}









#section3{ //l'ensemble de mes fonctionnalités
    clear: both;
    border-top: 1px solid #5da0db;
    padding: $grid-height*2 100% /9 - 3;
    padding-bottom: 0px; 
    overflow:auto;
    overflow: -moz-scrollbars-none;
    
    
    
/* IE10+ */ 
background-image: -ms-linear-gradient(top, #D3F2FF 0%, #fff 50%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #D3F2FF 0%, #fff 50%);

/* Opera */ 
background-image: -o-linear-gradient(top, #D3F2FF 0%, #fff 50%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D3F2FF), color-stop(50, #fff));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #D3F2FF 0%, #fff 50%);

/* W3C Markup */ 
background-image: linear-gradient(to bottom, #D3F2FF 0%, #fff 50%);
    
    
    
    
    .description {
        display: block;
        margin: auto;
    
        h2{
            text-align: left;
            width: 100% / 1.5 - 0 ; //66,66%
            
            @media (max-width: 1200px){
               
            }
            @media (max-width: 768px){
               width: 90%;
           }
        }
        
       .article{
            float: left;
            width: 100% / 2 - 6;
            margin: 30px 0;
            vertical-align: middle;

            @media (max-width: 1200px){
                width: 100% / 2 - 3;
            }
            @media (max-width: 768px){
                width: 100% - 3;
                text-align: center;
            }
           
           img {
               max-width: 146px;
               float: left;
               
               @media (max-width: 1200px){
               }
               @media (max-width: 768px){
                   text-align: center;
                   float: none;
               }
           }
           p {
               color: #3e3e3e;
               text-align: left;
               line-height: 1.3em;
               margin-left:170px;
               width: 100% / 1.5 - 6;

               @media (max-width: 1200px){
                   width: 100% / 2 - 3; //60,66%
               }
               @media (max-width: 768px){
                   text-align: center;
                   margin: 10px auto 0px auto;
                   width: 100%;
               }
           }
    
    
    
        

}
 
    
    }

}
 



#section4{ // Restez informé
    clear: both;
    background: url(img/lp-section-bg.gif) no-repeat top center;
    background-color: #32425b;
    padding: $grid-height*4 0;
    padding-bottom: 225px;

    margin: auto;
    overflow:auto;
    overflow: -moz-scrollbars-none;
    
    .description {
        width: 100%;
        margin: auto;
        text-align: center;
        p {
            color: #fff;
            text-align: center;
            text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
            font-size: 1.5em;
            margin: 50px auto;
            font-weight: 100;
        }

        
    }
}



.bg1 {
    background: url(img/s5-bg.png) no-repeat center top;
    position: absolute;
    height: 241px;
    width: 100%;
    margin-top: -100px;
    overflow:auto;
    overflow: -moz-scrollbars-none;
}

#section5{ // Présent à tout moment
    
    clear: both;
    padding: $grid-height*2 100% /9 - 3;
    margin: 0;
    overflow:auto;
    overflow: -moz-scrollbars-none;
    /* IE10+ */ 
    background-image: -ms-linear-gradient(bottom, #32425B 40%, #3D89AD 70%, #eff6fb 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(bottom, #32425B 40%, #3D89AD 70%, #eff6fb 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(bottom, #32425B 40%, #3D89AD 70%, #eff6fb 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(40, #32425B), color-stop(70, #3D89AD), color-stop(100, #eff6fb));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(bottom, #32425B 40%, #3D89AD 70%, #eff6fb 100%);

    /* W3C Markup */ 
    background-image: linear-gradient(to top, #32425B 40%, #3D89AD 70%, #eff6fb 100%);


    .description {
        h2 {
            color: #fff;
            margin: 30px 0 130px 0;
            text-align: center;
            width: 100%;
        }
        


            .platform {
                width: 100% / 3 - 0;
                text-align: center;
                float: left;
                
                @media (max-width: 1200px){
                    
                    
                    }
                @media (max-width: 768px){
                    width: 100%;
                    margin-top: 50px;
                }
                
                .cp-small {
                    max-width: 100px;
                }
                
                .cp-big{
                    max-width: 200px;
                }
                
                h3 {
                    text-align: center;

                    color: #fff;
                    font-weight: bold;
                    font-size: 1.5em;
                }

                p {
                    color: #fff;
                    text-align: center;
                }
            }
        
    }
}



#section6{
    background-color: #32425b;
    padding: $grid-height*2 100% /9 - 3;

    color: #fff;
    overflow: auto;
    //overflow:hidden;
    //overflow: -moz-scrollbars-none;
    
    .bg{
        background: url(img/s6-bg.png) no-repeat top;
        background-size: contain;
        overflow:hidden;
        overflow: -moz-scrollbars-none;
        
        .description {
            width: 100% / 2 - 0;
            display: block;
            float: left;
            padding-bottom: 50px;

        @media (max-width: 1200px){
            width: 100%;
        }
        @media (max-width: 768px){
        }
            
            
        }
    }
}






footer {
    clear: both;
    background-color: #32425b;
    //padding: 60px 10px;
    padding: 0 100% /9 - 3;
    padding-bottom: 60px;
    overflow:auto;
    overflow: -moz-scrollbars-none;
    
    .footer-line {
        padding-bottom: 60px;
        border-top: 1px solid #617086;
    }

    
    .signature {
        font-size: 0.7em;
        font-weight: 100;
        width: 100% / 3 - 3;
        margin: 0;
        color: #d4d8de;
        display: inline-block;
        text-align: center;

        
        @media (max-width: 1200px){
            width: 50%;
            text-align: center;
        }
        @media (max-width: 768px){
            width: 100%;
            text-align: center;
        }
        
        
        
        p {
            margin-top: 7px;
            a{text-decoration: none;color:#d4d8de;}
            a:hover{text-decoration: underline;}
        }
        
        img {
            float: left;
            margin: 0 10px 0 0;
            max-width: 25px;
            
            @media (max-width: 1200px){
                
            }
            @media (max-width: 768px){
               float: none;
            }
        }
        
    }
    
    ul.social {
        margin: 0;
        list-style: none;
        width: 100% / 3 - 3;
        padding: 0;
        text-align: right;
        float: right;
        
        @media (max-width: 1200px){
            width: 50%;
        }
        @media (max-width: 768px){
            margin-top: 20px;
            text-align: center;
            width: 100%;
        }
        
        a {
            li {
                display: inline-block;
                margin: 0 0 0 20px;

                
                @media (max-width: 1200px){
                    margin: 0 0 0 10px;
                }
                @media (max-width: 768px){
                    text-align: center;
                    padding: 5px;
                }
            }

            li:last-child{
                margin-right: 0px;
            }
        }
    }
}


#facebook{
    background: url(img/rs-facebook-logo.svg) no-repeat center;
    width:24px;
    height:24px;
}
#twitter{
    background: url(img/rs-twitter-logo.svg) no-repeat center;
    width:24px;
    height:24px;
}
#linkedin{
    background-image: url(img/rs-linkedin-logo.svg) no-repeat;
    background-size: 24px;
}



#mentions {
    clear: both;
    padding: $grid-height 100% /9 - 3;
    margin: 0;
    overflow:hidden;
    overflow: -moz-scrollbars-none;
    float: left;
    display: block;
    width: 100% / 1.5 - 6 ; //66,66%

    @media (max-width: 1200px){
        width: 100% / 2;
    }
    @media (max-width: 768px){
        width: 90%;
        float: none;
    }
    
    p {
        font-size: 1em;
        font-weight: 300;
        color: #3e3e3e;            
    }
}


